@model ComplainViewModel
@{
    ViewData["Title"] = "ComplainForm";
}

<h1>ComplainForm</h1>
<!--div with form elements-->

@using (Html.BeginForm("ComplainForm", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <!--div with name-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <!--div with LastName-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
        </div>
    </div>

    <!--div with reason of complain-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.Complain, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Complain, new { @class = "form-control" })
        </div>
    </div>

    <hr />
    <!--div with submit button-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wyślij" class="btn btn-success" />
        </div>
    </div>


}