@model ContactFormViewModel
@{
    ViewData["Title"] = "ContactForm";
}

<h1>Welcome</h1>
<!--div with elements of site needed to sent form-->
@using (Html.BeginForm("ContactForm", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <!--div with name-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <!--div with LastName-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
        </div>
    </div>

    <!--div with productName-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductName, new { @class = "form-control" })
        </div>
    </div>
    <!--div with account number-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.AccountNumber, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AccountNumber, new { @class = "form-control" })
        </div>
    </div>


    <hr />
    <!--div with button-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wyślij" class="btn btn-success" />
        </div>
    </div>


}
