@model WorkWithUsViewModel
@{
    ViewData["Title"] = "WorkForm";
}

<h1>Welcome</h1>

<!--div with form elements-->
@using (Html.BeginForm("WorkForm", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <!--div with name-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <!--div with LastName-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
        </div>
    </div>

    <!--div with university name-->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.University, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.University, new { @class = "form-control" })
        </div>
    </div>

    <!--div with motivation -->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.Motivation, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Motivation, new { @class = "form-control" })
        </div>
    </div>
    <!--div with phone -->
    <div class="form-horizontal">
        @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phone, new { @class = "form-control" })
        </div>
    </div>

    <hr />
    <!--div with submit button-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wyślij" class="btn btn-success" />
        </div>
    </div>


}