
@{
    ViewData["Title"] = "WorkFormAfter";
}

<h1>Welcome</h1>
<!--div with temporary data from user-->
<div>
    Hello @ViewBag.UserName @ViewBag.UserLastName!
    <hr />
    Your request has been saved in our DataBase.
    <br />
    Your University and motivation:
    <hr />
    @ViewBag.University
    <hr />
    @ViewBag.Motivation
    <hr />
    @ViewBag.Phone
    <hr/>
    Have a nice day.
</div>